<h1 class="text-dark">New Reviews</h1>
<%= form_tag("/authors/#{@author.id}/reviews") do %>
  <%= hidden_field_tag :author_id, @author.id  %>
  <div class="form-group">
    <%= label_tag 'title' %>
    <%= text_field_tag 'title', nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag 'description' %>
    <%= text_area_tag 'description', nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag 'rating' %>
    <%= number_field_tag 'rating', nil, class: 'form-control' %>
  </div>
  <%= submit_tag 'Create review', class: 'btn btn-primary' %>
<% end %>